{% extends 'main/base.html' %}

    {% block content%}
    <div class="row text-center">

        <div>
            <h1>Блог Махмуда</h1>
            <a href="/blog/create" class="btn btn-primary">Создать статью</a>
        </div>

    {% for object in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card">
                    <div class="card-body" >
                        <h3 class="card-title">{{ object.title_post }}</h3>
                        <img src="/media/{{ object.image_post }}" alt="Card image" class="mb-4">

                        <a href="{% url 'blog:view' object.pk %}" class="btn btn-primary mb-4">Читать</a>
                        <a href="{% url 'blog:edit' object.pk %}" class="btn btn-secondary mb-4">Изменить</a>
                        <a href="{% url 'blog:delete' object.pk %}" class="btn btn-danger">Удалить</a>
                    </div>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:"4" and not forloop.last %}
            </div>
    <div class="row text-center">
        {% endif %}
    {% endfor %}
    </div>
    {% endblock %}
