{% extends 'main/base.html' %}

{% block content%}

    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    Профайл
                </div>

            </div>

            <div class="image-container">
                <img src="/media/{{ object.avatar }}" alt="Card image" class="card-image">
            </div>

            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">Сохранить</button>
                </form>
            </div>
        </div>
            <a href="{% url 'users:generate_new_password' %}" class="btn btn-danger">Новый пароль</a>
        </div>

    </div>

{% endblock %}