{% extends 'main/base.html' %}

    {% block content%}
    <div class="row text-center">

        <div>
            <h1>Продуктовый магазин "У Махмуда"</h1>
            <h2>Самые свежие продукты из средней азии</h2>
        </div>


        <a class="btn btn-primary mb-5" href="{% url 'create_product' %}">Добавить продукт</a>


    {% for object in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">{{ object.name_prod }}</h3>
                        <h4 class="card-title pricing-card-title">{{ object.price_prod }} руб.</h4>

                            <div class="image-container">
                                <img src="/media/{{ object.img_prod }}" alt="Card image" class="card-image">
                            </div>
                                <p class="card-text">
                            {{ object.description_prod }}
                                </p>
                                <a href="{% url 'product' object.pk %}" class="btn btn-primary mb-4">Купить</a>
                                <a href="{% url 'update_product' object.pk %}" class="btn btn-secondary mb-4">Изменить</a>
                                <a href="{% url 'delete' object.pk %}" class="btn btn-danger">Удалить</a>
                    </div>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:"4" and not forloop.last %}
            </div>
    <div class="row text-center">
        {% endif %}
    {% endfor %}
    </div>
    {% endblock %}
