{% extends 'main/base.html' %}

{% block content%}

    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    Добавление товара
                </div>

            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <button type="submit" class="btn btn-success">Сохранить</button>
                </form>
            </div>
        </div>

<div class="col-6">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <h3 class="card-title">
                            {% if object %}
                            Версии продуктов
                            {% endif %}
                        </h3>
                    </div>
                </div>

                <div class="card-body">
                    {{ formset.management_form }}
                    {% for form in formset.forms %}
                    {{ form.as_p }}
                    {% if not forloop.last %}
                    <hr class="mb-4">
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>




    </div>


{% endblock %}