{% extends 'main/base.html' %}

{% block content%}

    <div class="container">
        <div class="row">
            <!-- Левая часть с изображением -->
            <div class="col-md-4">
                <img src="/media/{{ object.img_prod }}" alt="Изображение товара" class="img-fluid">
            </div>

            <!-- Правая часть с информацией о товаре -->
            <div class="col-md-8">

                <p>Товар создал: {{ product.user_boss|default:"НЕТ СОЗДАТЕЛЯ" }}</p>
                <h2>{{ product.name_prod }}</h2>
                <p>Описание товара: {{ product.description_prod }}</p>
                <p>Цена: {{ product.price_prod }} руб.</p>

                <button class="btn btn-primary">Положить в корзину</button>

            </div>

        </div>
    </div>
{% endblock %}